node_modules/
backend/node_modules/
.vercel/

.env
backend/.env
frontend/synapsys-tests/.env
login.json

dist/
.DS_Store
*.bak
*.pdf

playwright-report/
test-results/
*.zip
**/test-results/
backend/.env
