BASE_URL=http://localhost:3000
TEST_USER_EMAIL=teste@synapsysai.com
TEST_USER_PASSWORD=SuaSenhaAqui123
STRIPE_TEST_CARD=4242424242424242
STRIPE_TEST_EXPIRY=12/26
STRIPE_TEST_CVC=123
STRIPE_TEST_ZIP=12345
